<!DOCTYPE html>
<html ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>George's Portfolio</title>
    
    <!-- Libraries -->
    <script src="https://code.jquery.com/jquery.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>

    <!-- ui-router library here -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.15/angular-ui-router.js"></script>
    
    <!-- Custom code -->
    <script src="js/portfolio.js"></script>
    <link href = "css/portfolio.css" rel="stylesheet" type = "text/css"/>
    
  </head>

  <body>
    <div>
      <header ng-controller="linkHighlight">
        <!-- Create links to different sections -->
          <a ng-click="highlight('home')" ui-sref="home" id="homeLink" class="tab">Home</a>
          <a ng-click="highlight('projects')" ui-sref="projects" id="projectsLink" class="tab">Experience</a>
          <a ng-click="highlight('interests')" ui-sref="interests" id="interestsLink" class="tab">Passions</a>
          <a ng-click="highlight('contact')" ui-sref="contact" id="contactLink" class="tab">Connect</a>
  		</header>
        

      <div id="pageView" class="container">
        <!-- This is where the page contents will display -->
        <div ui-view></div>
      </div>

      <footer>
          <p id="copyright">All Rights Reserved George Ng &copy;</p>
      </footer>
    </div>
  </body>
</html>