<div id="contact">
	<img id="research" src="../img/research.png">
	<h1>George Ng </h1>
	<h3>Front-End Web Developer </h3>

	<h6 id="collab"> LET'S COLLABORATE </h6>
	<p>I'm currently open to freelance Frontend Web development work, so if you've got any ideas or are looking for a web developer (or just to chat) – feel free to contact me! I also have experience in team-based mobile development using Xcode with Swift and standard Java skills.  </p>

	<a href="mailto:gngcp@uw.edu"><img id="email" src="../img/email.jpg"></a>
	<a href="https://www.linkedin.com/in/gngcp"><img id="linked" src="../img/linkedin.png"></a>
	<a href="https://www.facebook.com/LeComfyPillow"><img id="facebook" src="../img/facebook.png"></a>

</div>