<div id="home">
	<img id="splash" src="../img/seattle.jpg">

	<img id="me" src="../img/me.png">

	<h1>George Ng </h1>
	<h3>Front-End Web Developer </h3>

	<p id="aboutMeStart">Greetings! I’m currently a junior at UW Seattle and a 1st year Informatics major. </p>

	<p class="aboutMe">Right now, I'm focusing on client-side web development projects in/and outside of school (the instant gratification is amazing). In the past, however, I've worked on small software development projects that I coordinated with peers, mostly on iOS. Cybersecurity is also an interesting topic that my Enterprise Risk Management class has managed to capture my attention with, so I'm taking a look at that as well. </p>

	<p class="aboutMe">Ultimately, I think my greatest strengths lay in my soft skills such as :
	<b>Communication, Teamwork, Organization, Problem-Solving, and Leadership.</b> </p>

	<p class="aboutMe">I love to learn and have a broad grasp of various technical topics, but that also means I haven't found a focus to specialize in yet outside of general web development (something I'm hoping to change with some more experience). </p>

	<p> Programming Topics I am familiar with : </p> 
	<span class="skills">Java</span> <span class="skills">Javascript</span> <span class="skills">HTML</span> <span class="skills">PHP</span> <span class="skills">CSS</span> <span class="skills">jQuery</span> <span class="skills">Version Control</span>

</div>