<div id="home">
	<img id="splash" src="img/seattle.jpg">

	<img id="me" src="img/me.png">

	<h1>George Ng </h1>
	<h3>Web Developer</h3>

	<p id="aboutMeStart">Greetings! I’m currently a junior at UW Seattle and a 1st year Informatics major. </p>

	<p class="aboutMe">Right now, I'm on a hybrid degree path that consists of a mixture of Web Development and Software Engineering.  </p>

	<p class="aboutMe">Ultimately, I think my greatest strengths lay in the <b>Front-End</b> as well as soft skills including <b>Adaptability, Leadership, and Communication. </b>
	</p>

	<p class="aboutMe">I love to learn and have a broad grasp of various technical topics with a particular focus on Web Development. Currently, I am  working on expanding my breadth of knowledge and improving my Back-End skills (using the LAMP Stack and Azure). My hobbies include video games (VR is incredible and I'm a huge DOTA fan), Sci-Fi/Fantasy Novels (Game of Thrones is better in its novel form), and lots of cooking! </p>

	</br>

	<p> Programming Topics I am familiar with : </p> 
	<span class="skills">Java</span> <span class="skills">Javascript</span> <span class="skills">HTML</span> <span class="skills">PHP</span> <span class="skills">C#</span> <span class="skills">SQL</span> <span class="skills">CSS</span> <span class="skills">AngularJS</span> <span class="skills">jQuery</span> <span class="skills">LeaftletJS</span> <span class="skills">OOP</span>

	</br> 
	</br> 

	<a href="https://github.com/NgGeorge"> <b>Github</b> </a> 

</div>
