<div id="home">
	<img id="splash" src="img/seattle.jpg">

	<img id="me" src="img/me.png">

	<h1>George Ng </h1>
	<h3>Front-End Web Developer</h3>

	<p id="aboutMeStart">Greetings! I’m currently a junior at UW Seattle and a 1st year Informatics major. </p>

	<p class="aboutMe">Right now, I'm on a hybrid degree path that consists of a mixture of Web Development and Cybersecurity.  </p>

	<p class="aboutMe">Ultimately, I think my greatest strengths lay in <b>Data Visualization and UI Development</b> as well as soft skills including <b>Adaptability, Leadership, and Communication. </b>
	</p>

	<p class="aboutMe">I love to learn and have a broad grasp of various technical topics with a particular focus on Frontend Web Development. However, I am also working on expanding my breadth of knowledge and learning Back-End skills as well (LAMP Stack, Azure). My hobbies include video games (Rainbow Six Siege is my go-to at the moment), Sci-Fi/Fantasy Novels (I recently picked up "The Expanse" series and haven't been able to put it down), and lots of cooking! </p>

	</br>

	<p> Programming Topics I am familiar with : </p> 
	<span class="skills">Java</span> <span class="skills">Javascript</span> <span class="skills">HTML</span> <span class="skills">PHP</span> <span class="skills">C#</span> <span class="skills">SQL</span> <span class="skills">CSS</span> <span class="skills">AngularJS</span> <span class="skills">jQuery</span> <span class="skills">LeaftletJS</span> <span class="skills">OOP</span>

	</br> 
	</br> 

	<a href="https://github.com/NgGeorge"> <b>Github</b> </a> 

</div>
