<div id="interests">
  <section class="module parallax parallax-1">
    <div class="container">
      <h1>Adventures</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2>I am an Explorer</h2>
      <p class="interestDesc"><b>From Beijing to Tokyo and Venice to Athens</b>, traveling is one of my life's greatest pursuits. I love to adventure and have visited many countries, yet there are still countless more places and cultures to explore. One day, I hope to be able to truthfully claim having visited them all.</p>
    </div>
  </section>

  <section class="module parallax parallax-2">
    <div class="container">
      <h1>Food</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2>I am a Chef</h2>
      <p class="interestDesc"><b>Sushi, Foie Gras, Wagyu, Hainan Chicken, Indian Curry, Arabian Shawarma, In-N-Out, and more – I love it all.</b> Food is another one of my great passions. Not only do I love to eat, but I love to cook as well, spending a fair portion of every other day experimenting in the kitchen.</p>
    </div>
  </section>

  <section class="module parallax parallax-3">
    <div class="container">
      <h1>Games</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2>I am a Gamer</h2>
      <p class="interestDesc"><b>I love games for the challenges they pose, the stories they weave, and the creativity they represent.</b> To me, videogames are the new popular medium for artistic innovation. From the cooperative adventures of <i>Destiny</i> to the masterfully crafted tale of <i>Witcher</i>, videogames offer an unparalleled opportunity to become the heroes (or villains) of one's dreams. </p>
    </div>
  </section>

  <section class="module parallax parallax-4">
    <div class="container">
      <h1>Friends</h1>
    </div>
  </section>

  <section class="module content">
    <div class="container">
      <h2>and above all else – I aspire to be a good Friend.</h2>
      <p class="interestDesc"><b>My friends are huge nerds... and I am no exception.</b> I love spending time hanging out with friends: be it with my buddies at UW's Anime Club, movies with my housemates, or online gaming with old friends. </p>
    </div>
  </section>
</div>